<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for familia in familia %}

            <li>Nombre del familiar: {{familia.nombre}}</li>
            <li>Edad: {{familia.edad}}</li>
            <li>Fecha de cumpleaños: {{familia.fecha_nacimiento}}</li>
            <li>Relacion: {{familia.relacion}}</li><br>

        {% endfor %}
    
    </body>
    </html>